* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #2C3E50;
} 
.container{
    display: flex;
}

.login{
    wi
    display: flex;
    flex-direction: column;
}

.cadastro{
    display: none;
    flex-direction: column;
}